/* @media screen and (max-width: 768px){
    body{
        background-color: lightblue;
        font-size: 14px;
    }
    nav{
        display: none;
    }
    header-btn{
        display: none;
        flex-direction: column;
        background-color:yellow;
        position: absolute;
        top: 100%;
        right: 0;
        width: 50px;
        padding: 1rem;
    }
    
} */